<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>    
</head>

<body>
    <%- include('../partials/header'); %>

    <main>
        <% projectsData.projects.map((p) => { %>
            <li><%= p.projectName %>
            <a href=<%= p.liveLink %>>live link</a>
                <%= p.description %>
                tech:<%= p.tech %>
                <a href=<%= p.repo %>> GitHub repo</a>
            </li>
        
        <% }) %>
    

    </main>

    <footer>
        <%- include('../partials/footer')%>
    </footer>
    <script src="./scripts.js"></script>
</body>
</html>